body {
    background-color: #121212;
    color: #fff;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }


.court-container {
    position: relative;
    display: inline-block;
    display: flex;
    align-items: center; 
    justify-content: center;
  }
  
#court {
    display: block;
  }

#drawingCanvas {
    position: absolute;
    top: 0;
    left: 0;
  }
  
  /*Styling for the hamburger menu*/
#hamburger {
    fill: white;
    height: 38px;
    width: 38px;
    margin: 10px;
    cursor: pointer;
  }
  
  #sidebar {
    width: 0px;
    height: 100vh;
    background-color: #d67214;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    overflow: hidden;
    transition: width 0.5s ease;
    white-space: nowrap;
  }
  
  .sidebar-item {
    text-decoration: none;
    color: black;
    display: flex;
    padding: 1em;
    align-items: center;
    cursor: pointer;
  }
  .sidebar-item:hover {
    background-color: #9a520f;
  }
  
  .sidebar-item > div {
    padding: 0 1em;
  }
  
  .sidebar-item svg {
    flex-shrink: 0;
  }
  
  #overlay {
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.4);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    display: none;
  }
/*END OF STYLING FOR HAMBURGER MENU*/

#clearBtn {
    position: absolute;
    top: 15px;
    right: 15px;
    z-index: 10;
    padding: 10px 15px;
    background-color: #d67214;
    color: white;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
    box-shadow: 0 0 5px rgba(0,0,0,0.3);   
}