body {
    font-family: Arial, sans-serif;
    background-color: #121212;
    color: #fff;
    margin: 0;
    padding: 0;
}
/*Styling for the hamburger menu*/
#hamburger {
    fill: white;
    height: 38px;
    width: 38px;
    margin: 10px;
    cursor: pointer;
  }
  
  #sidebar {
    width: 0px;
    height: 100vh;
    background-color: #d67214;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    overflow: hidden;
    transition: width 0.5s ease;
    white-space: nowrap;
  }
  
  .sidebar-item {
    text-decoration: none;
    color: black;
    display: flex;
    padding: 1em;
    align-items: center;
    cursor: pointer;
  }
  .sidebar-item:hover {
    background-color: #9a520f;
  }
  
  .sidebar-item > div {
    padding: 0 1em;
  }
  
  .sidebar-item svg {
    flex-shrink: 0;
  }
  
  #overlay {
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.4);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    display: none;
  }
/*END OF STYLING FOR HAMBURGER MENU*/

.container {
    background-color: #1e1e1e;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 60%;
    margin: 0 auto;
    margin-top: 20px;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header div {
    display: flex;
    gap: 10px;
}

h1 {
    margin: 0;
}

#logoutButton {
    padding: 10px 20px;
    background-color: #d67214;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    position: fixed;
    top: 10px;
    right: 10px;
}

#logoutButton:hover {
    background-color: #9a520f;
}

#profileButton {
    padding: 10px 20px;
    background-color: #d67214;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#profileButton:hover {
    background-color: #9a520f;
}

.user-list {
    margin-top: 20px;
}

.user-item {
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

.zoneImage {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    margin: 0 auto;
}

.zoneImage svg {
  display: block;
  max-width: 100%;
  height: auto;
}

svg path{
  cursor: pointer;
}

svg path:hover{
  fill:#d67214
}

#name{
  position: fixed;
  background-color: white;
  width: fit-content;
  opacity: 0;
  border-radius: 5px;
  border: 3px solid #d67214;
  padding: 3px 3px;
  font-size: 1rem;
  color: #d67214;
  font-weight: bold;
  line-height: .3; 
  margin: 0;
}

/* Modal Overlay (Hidden by Default) */
.modal-overlay {
  display: none; 
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6); 
  justify-content: center;
  align-items: center;
}

/* Modal Box */
.modal-content {
  background: #121212;
  padding: 20px;
  border-radius: 8px;
  text-align: center;
  width: 300px;
  position: relative;
}

/* Close Button */
.close-modal {
  position: absolute;
  top: 10px;
  right: 15px;
  font-size: 20px;
  cursor: pointer;
}

.input-container {
  display: flex;
  align-items: center; 
  justify-content: center; 
  gap: 10px; 
}

.input-container input {
  width: 90px; /* Adjust size */
  padding: 5px;
  text-align: center;
}

.input-container span {
  font-size: 18px;
  font-weight: bold;
  color: white; 
}

.submit-container {
  display: flex;
  justify-content: center; 
  margin-top: 20px; 
}

.submit-button {
  width: 100%;
  padding: 10px;
  background-color: #d67214;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.submit-button:hover {
  background-color: #9a520f;
}

.button-container {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-bottom: 10px;
}

#made-shot-button {
  background-color: green;
  color: white;
  width: 100px;
  height: 40px;
  font-size: 25px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  margin-top: 20px;
}

#made-shot-button:hover {
  background-color: rgb(1, 91, 1);
}

#missed-shot-button {
  background-color: red;
  color: white;
  width: 100px;
  height: 40px;
  font-size: 25px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  margin-top: 20px;
}

#missed-shot-button:hover {
  background-color: rgb(178, 0, 0);
}