body {
    font-family: Arial, sans-serif;
    background-color: #121212;
    color: #fff;
    margin: 0;
    padding: 0;
}

.container {
    background-color: #1e1e1e;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 60%;
    margin: 0 auto;
    margin-top: 20px;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header div {
    display: flex;
    gap: 10px;
}

h1 {
    margin: 0;
}

#logoutButton {
    padding: 10px 20px;
    background-color: #d67214;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#logoutButton:hover {
    background-color: #9a520f;
}

#profileButton {
    padding: 10px 20px;
    background-color: #d67214;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#profileButton:hover {
    background-color: #9a520f;
}

.user-list {
    margin-top: 20px;
}

.user-item {
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

.zoneImage {
    display: flex;
    justify-content: center;
    align-items: center;
}