body {
    font-family: 'Arial', sans-serif;
    background-color: #121212;
    color: #fff;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 400px;
    margin: 5% auto;
    padding: 20px;
    background-color: #1e1e1e;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

.tab {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}

.tab-button {
    flex: 1;
    padding: 10px 0;
    border: none;
    cursor: pointer;
    background-color: #ddd;
}

.tab-button.active {
    background-color: #d67214;
    color: white;
}

form {
    display: none;
}

form.active-form {
    display: block;
}

label {
    display: block;
    margin: 10px 0 5px;
}

input {
    width: 95%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

select{
   margin: 8px; 
   width: 95px;
}

.button {
    width: 100%;
    padding: 10px;
    background-color: #d67214;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.button:hover {
    background-color: #9a520f;
}

.message {
    margin-top: 10px;
    text-align: center;
    font-size: 14px;
}

.success {
    color: green;
}

.error {
    color: red;
}

/*This is the styling for the coach/player radio button*/
.filter-switch {
    border: 2px solid #d67214;
    border-radius: 30px;
    position: relative;
    display: flex;
    align-items: center;
    height: 40px;
    width: 400px;
    overflow: hidden;
  }
  .filter-switch input {
    display: none;
  }
  .filter-switch label {
    flex: 1;
    text-align: center;
    cursor: pointer;
    border: none;
    border-radius: 30px;
    position: relative;
    overflow: hidden;
    z-index: 1;
    transition: all 0.5s;
    font-weight: 500;
    font-size: 16px;
  }
  .filter-switch .background {
    position: absolute;
    width: 49%;
    height: 32px;
    background-color: #d67214;
    top: 4px;
    left: 4px;
    border-radius: 30px;
    transition: left 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }
  #option2:checked ~ .background {
    left: 50%;
  }
  #option1:checked + label[for="option1"] {
    color: #212121;
    font-weight: bold;
  }
  #option2:checked + label[for="option2"] {
    color: #212121;
    font-weight: bold;
  }
  #option1:not(:checked) + label[for="option1"],
  #option2:not(:checked) + label[for="option2"] {
    color: #7d7d7d;
  }
  /*END STYLING FOR RADIO BUTTON*/