body {
    background-color: #121212;
    color: #fff;
}

.card {
    background-color: #1e1e1e;
    border: none;
}

.card-body {
    color: #fff;
}

.profile-img {
    width: 100%;
    max-width: 250px;
    height: auto;
    object-fit: cover;
    border-radius: 50%;
    border: 3px solid #d67214;
}

.btn-custom {
    background-color: #d67214;
    color: #fff;
}

.btn-custom:hover {
    background-color: #9a520f;
}